# Exploring the other DataFrames that contain hypotetical features

The aim is to clean the other dataframes to be used for the feature selection

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [29]:
# We'll import the row dataframes (of for example GDP, electricity...) and at the end we'll export one file with all of the hypothetical features

In [30]:
df = pd.read_csv('Filtered.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25164 entries, 0 to 25163
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   STRUCTURE                 25164 non-null  object
 1   STRUCTURE_ID              25164 non-null  object
 2   STRUCTURE_NAME            25164 non-null  object
 3   ACTION                    25164 non-null  object
 4   REF_AREA                  25164 non-null  object
 5   Reference area            25164 non-null  object
 6   FREQ                      25164 non-null  object
 7   Frequency of observation  25164 non-null  object
 8   MEASURE                   25164 non-null  object
 9   Measure                   25164 non-null  object
 10  UNIT_MEASURE              25164 non-null  object
 11  Unit of measure           25164 non-null  object
 12  ACTIVITY                  25164 non-null  object
 13  Economic activity         25164 non-null  object
 14  ADJUSTMENT                25164 non-null  object
 15  Adjustment                25164 non-null  object
 16  TRANSFORMATION            25164 non-null  object
 17  Transformation            25164 non-null  object
 18  TIME_PERIOD               25164 non-null  object
 19  Time period               0 non-null      float64
 20  OBS_VALUE                 25164 non-null  float64
 21  Observation value         0 non-null      float64
 22  OBS_STATUS                25164 non-null  object
 23  Observation status        25164 non-null  object
 24  UNIT_MULT                 25164 non-null  int64
 25  Unit multiplier           25164 non-null  object
 26  DECIMALS                  25164 non-null  int64
 27  Decimals                  25164 non-null  object
 28  BASE_PER                  8433 non-null   float64
 29  Base period               0 non-null      float64
dtypes: float64(5), int64(2), object(23)
memory usage: 5.8+ MB

In [31]:
cleaned_df = df.drop(columns=["STRUCTURE", "STRUCTURE_ID", "STRUCTURE_NAME", "ACTION", "FREQ", "Frequency of observation"])
cleaned_df = cleaned_df.drop(columns=["MEASURE", "UNIT_MEASURE", "ACTIVITY", "ADJUSTMENT", "TRANSFORMATION"])
cleaned_df = cleaned_df.drop(columns=["Time period", "Observation value", "OBS_STATUS", "Unit multiplier", "Decimals", "BASE_PER", "Base period"])
cleaned_df

,REF_AREA,Reference area,Measure,Unit of measure,Economic activity,Adjustment,Transformation,TIME_PERIOD,OBS_VALUE,Observation status,UNIT_MULT,DECIMALS
0,HUN,Hungary,Production volume,Growth rate,Industry (except construction),Calendar and seasonally adjusted,"Growth rate, period on period",2008-01,-2.774923,Normal value,0,1
1,HUN,Hungary,Production volume,Growth rate,Industry (except construction),Calendar and seasonally adjusted,"Growth rate, period on period",2008-02,2.642706,Normal value,0,1
2,HUN,Hungary,Production volume,Growth rate,Industry (except construction),Calendar and seasonally adjusted,"Growth rate, period on period",2008-03,-2.883625,Normal value,0,1
3,HUN,Hungary,Production volume,Growth rate,Industry (except construction),Calendar and seasonally adjusted,"Growth rate, period on period",2008-04,1.060445,Normal value,0,1
4,HUN,Hungary,Production volume,Growth rate,Industry (except construction),Calendar and seasonally adjusted,"Growth rate, period on period",2008-05,-1.993704,Normal value,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
25159,EA20,Euro area (20 countries),Production volume,Growth rate,Industry (except construction),Calendar and seasonally adjusted,"Growth rate, period on period",2023-08,0.576923,Normal value,0,1
25160,EA20,Euro area (20 countries),Production volume,Growth rate,Industry (except construction),Calendar and seasonally adjusted,"Growth rate, period on period",2023-09,-0.956023,Normal value,0,1
25161,EA20,Euro area (20 countries),Production volume,Growth rate,Industry (except construction),Calendar and seasonally adjusted,"Growth rate, period on period",2023-10,-0.675676,Normal value,0,1
25162,EA20,Euro area (20 countries),Production volume,Growth rate,Industry (except construction),Calendar and seasonally adjusted,"Growth rate, period on period",2023-11,0.388727,Normal value,0,1
25163,EA20,Euro area (20 countries),Production volume,Growth rate,Industry (except construction),Calendar and seasonally adjusted,"Growth rate, period on period",2023-12,2.613746,Normal value,0,1

In [32]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25164 entries, 0 to 25163
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REF_AREA            25164 non-null  object
 1   Reference area      25164 non-null  object
 2   Measure             25164 non-null  object
 3   Unit of measure     25164 non-null  object
 4   Economic activity   25164 non-null  object
 5   Adjustment          25164 non-null  object
 6   Transformation      25164 non-null  object
 7   TIME_PERIOD         25164 non-null  object
 8   OBS_VALUE           25164 non-null  float64
 9   Observation status  25164 non-null  object
 10  UNIT_MULT           25164 non-null  int64
 11  DECIMALS            25164 non-null  int64
dtypes: float64(1), int64(2), object(9)
memory usage: 2.3+ MB

In [33]:
occurrences = df['REF_AREA'].value_counts()
occurrences

REF_AREA
USA          582
JPN          579
GBR          579
PRT          579
BRA          579
KOR          579
NLD          576
POL          576
CAN          576
OECD         576
HRV          576
DNK          576
ESP          576
IRL          576
OECDE        576
SVN          576
LUX          576
FIN          576
SWE          576
FRA          576
EST          576
SVK          576
BEL          576
HUN          576
DEU          576
GRC          576
LTU          576
NOR          576
EU27_2020    576
LVA          576
CZE          576
EA20         576
TUR          576
G7           576
ITA          576
COL          576
ISR          576
EA19         570
CHL          570
AUT          570
IND          543
RUS          504
CHE          464
ISL          366
MEX          244
Name: count, dtype: int64

In [34]:
occurrences.info()

<class 'pandas.core.series.Series'>
Index: 45 entries, USA to MEX
Series name: count
Non-Null Count  Dtype
--------------  -----
45 non-null     int64
dtypes: int64(1)
memory usage: 1.8+ KB

In [37]:
df_1 = pd.read_csv('Filtered_Index.csv')
cleaned_df_1 = df_1.drop(columns=["STRUCTURE", "STRUCTURE_ID", "STRUCTURE_NAME", "ACTION", "FREQ", "Frequency of observation"])
cleaned_df_1 = cleaned_df_1.drop(columns=["MEASURE", "UNIT_MEASURE", "ACTIVITY", "ADJUSTMENT", "TRANSFORMATION"])
cleaned_df_1 = cleaned_df_1.drop(columns=["Time period", "Observation value", "OBS_STATUS", "Unit multiplier", "Decimals", "BASE_PER", "Base period"])
cleaned_df_1

,REF_AREA,Reference area,Measure,Unit of measure,Economic activity,Adjustment,Transformation,TIME_PERIOD,OBS_VALUE,Observation status,UNIT_MULT,DECIMALS
0,CHL,Chile,Production volume,Index,Industry (except construction),Calendar and seasonally adjusted,Not applicable,2008-01,95.823843,Normal value,0,1
1,CHL,Chile,Production volume,Index,Industry (except construction),Calendar and seasonally adjusted,Not applicable,2008-02,95.321315,Normal value,0,1
2,CHL,Chile,Production volume,Index,Industry (except construction),Calendar and seasonally adjusted,Not applicable,2008-03,97.438835,Normal value,0,1
3,CHL,Chile,Production volume,Index,Industry (except construction),Calendar and seasonally adjusted,Not applicable,2008-04,95.273679,Normal value,0,1
4,CHL,Chile,Production volume,Index,Industry (except construction),Calendar and seasonally adjusted,Not applicable,2008-05,94.345550,Normal value,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
8428,EA20,Euro area (20 countries),Production volume,Index,Industry (except construction),Calendar and seasonally adjusted,Not applicable,2023-08,104.591284,Normal value,0,1
8429,EA20,Euro area (20 countries),Production volume,Index,Industry (except construction),Calendar and seasonally adjusted,Not applicable,2023-09,103.591367,Normal value,0,1
8430,EA20,Euro area (20 countries),Production volume,Index,Industry (except construction),Calendar and seasonally adjusted,Not applicable,2023-10,102.891426,Normal value,0,1
8431,EA20,Euro area (20 countries),Production volume,Index,Industry (except construction),Calendar and seasonally adjusted,Not applicable,2023-11,103.291392,Normal value,0,1
8432,EA20,Euro area (20 countries),Production volume,Index,Industry (except construction),Calendar and seasonally adjusted,Not applicable,2023-12,105.991167,Normal value,0,1