# Exploring the other DataFrames that contain hypotetical features

The aim is to clean the other dataframes to be used for the feature selection

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [29]:
# We'll import the row dataframes (eventually previously cleaned inside the directory "raw_df_for_features") 
# and at the end we'll export one file with all of the hypothetical features

In [6]:
df = pd.read_csv('monthly_full_release_long_format-4.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392112 entries, 0 to 392111
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Area                 392112 non-null  object
 1   Country code         348792 non-null  object
 2   Date                 392112 non-null  object
 3   Area type            392112 non-null  object
 4   Continent            348792 non-null  object
 5   Ember region         348792 non-null  object
 6   EU                   348792 non-null  float64
 7   OECD                 348792 non-null  float64
 8   G20                  348792 non-null  float64
 9   G7                   348792 non-null  float64
 10  ASEAN                348792 non-null  float64
 11  Category             392112 non-null  object
 12  Subcategory          392112 non-null  object
 13  Variable             392112 non-null  object
 14  Unit                 392112 non-null  object
 15  Value                391352 non-null  float64
 16  YoY absolute change  243380 non-null  float64
 17  YoY % change         208295 non-null  float64
dtypes: float64(8), object(10)
memory usage: 53.8+ MB

In [8]:
occurrences = df['Category'].value_counts()
occurrences

Category
Electricity generation    238014
Power sector emissions    132762
Electricity demand          9170
Electricity imports         9170
Electricity prices          2996
Name: count, dtype: int64

In [12]:
df['Area'].value_counts()

Area
Taiwan                      14200
United States of America    13828
Australia                   13332
Colombia                    11791
Myanmar                      8816
                            ...
Oman                         1596
Nigeria                      1586
Tunisia                      1575
Qatar                        1008
Kosovo                        696
Name: count, Length: 91, dtype: int64