# Autocorrelation and autoregression analysis

This code has the aim to study the autocorrelation of the data of natural gas movements and to implement the autoregression

In [1]:
import pandas as pd

In [2]:
orig_df = pd.read_csv("GTF_export_cleaned.csv") # Upload the dataframe cleaned
orig_df["Month"] = pd.to_datetime(orig_df["Month"], format="mixed") # Re-setting the month as datetime object
orig_df = orig_df.set_index("Month", drop=True) # Re-setting the month as index
orig_df

,Albania->Italy,Algeria->Spain,Algeria->Tunisia,Austria->Germany,Austria->Hungary,Austria->Italy,Austria->Slovak Republic,Austria->Slovenia,Austria->Switzerland,Belarus->Lithuania,...,"Ukraine->Moldova, Republic",Ukraine->Poland,Ukraine->Romania,Ukraine->Slovak Republic,United Kingdom->Belgium,United Kingdom->Ireland,United Kingdom->Isle Of Man,United Kingdom->Liquefied Natural Gas,United Kingdom->Netherlands,United Kingdom->Norway
Month,,,,,,,,,,,,,,,,,,,,,
2008-10-01,0.0,0.0,2170.000000,175.0,170.0,1615.0,0.0,176.0,6.0,346.0,...,391.0,408.0,1564.0,5485.0,945.0,396.0,0.0,0.0,77.000000,3.0
2008-11-01,0.0,0.0,2041.000000,195.0,208.0,1972.0,0.0,165.0,8.0,401.0,...,325.0,406.0,1645.0,5309.0,404.0,418.0,0.0,0.0,51.000000,3.0
2008-12-01,0.0,0.0,2532.000000,314.0,203.0,2448.0,0.0,143.0,9.0,394.0,...,270.0,444.0,1732.0,5946.0,174.0,430.0,0.0,0.0,81.000000,0.0
2009-01-01,0.0,0.0,2688.000000,425.0,197.0,1310.0,0.0,144.0,10.0,402.0,...,184.0,141.0,827.0,2885.0,762.0,430.0,0.0,0.0,90.000000,0.0
2009-02-01,0.0,0.0,2435.000000,332.0,137.0,1565.0,0.0,141.0,8.0,432.0,...,141.0,325.0,1293.0,3714.0,216.0,394.0,0.0,0.0,123.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-01,125.0,709.0,526.000000,29.0,71.0,99.0,2.0,29.0,2.0,143.0,...,342.5,0.0,0.0,977.0,238.0,246.0,4.0,0.0,145.000000,186.0
2023-10-01,70.0,863.0,607.333333,57.0,19.0,68.0,46.0,29.0,4.0,272.0,...,360.0,0.0,0.0,1072.0,557.0,289.0,11.0,0.0,11.000000,319.0
2023-11-01,882.0,829.0,803.000000,137.0,31.0,40.0,20.0,56.0,6.0,248.0,...,411.5,136.0,0.0,1102.0,339.0,340.0,13.0,0.0,34.000000,169.5
2023-12-01,804.0,818.0,690.333333,68.0,5.0,197.0,37.0,71.0,7.0,264.0,...,397.5,383.0,0.0,1331.0,625.0,308.0,655.5,437.0,290.666667,312.5
2024-01-01,878.0,815.0,630.000000,70.0,5.0,218.0,89.0,75.0,9.0,279.0,...,396.5,0.0,0.0,1241.0,69.0,424.0,618.0,412.0,156.333333,34.5