In [76]:
# Importing necessary libraries
import pandas as pd

# Reading the CSV file
df = pd.read_csv('weather_data.csv')

# Displaying the first few rows of the dataframe
df.head()

,utc_timestamp,AT_temperature,AT_radiation_direct_horizontal,AT_radiation_diffuse_horizontal,BE_temperature,BE_radiation_direct_horizontal,BE_radiation_diffuse_horizontal,BG_temperature,BG_radiation_direct_horizontal,BG_radiation_diffuse_horizontal,...,RO_radiation_diffuse_horizontal,SE_temperature,SE_radiation_direct_horizontal,SE_radiation_diffuse_horizontal,SI_temperature,SI_radiation_direct_horizontal,SI_radiation_diffuse_horizontal,SK_temperature,SK_radiation_direct_horizontal,SK_radiation_diffuse_horizontal
0,1980-01-01T00:00:00Z,-3.640,0.0,0.0,-0.720,0.0,0.0,4.664,0.0,0.0,...,0.0,-3.945,0.0,0.0,-3.055,0.0,0.0,-4.648,0.0,0.0
1,1980-01-01T01:00:00Z,-3.803,0.0,0.0,-1.165,0.0,0.0,4.052,0.0,0.0,...,0.0,-4.053,0.0,0.0,-3.272,0.0,0.0,-4.554,0.0,0.0
2,1980-01-01T02:00:00Z,-3.969,0.0,0.0,-1.434,0.0,0.0,3.581,0.0,0.0,...,0.0,-4.129,0.0,0.0,-3.639,0.0,0.0,-4.455,0.0,0.0
3,1980-01-01T03:00:00Z,-4.076,0.0,0.0,-1.843,0.0,0.0,3.197,0.0,0.0,...,0.0,-4.139,0.0,0.0,-4.202,0.0,0.0,-4.421,0.0,0.0
4,1980-01-01T04:00:00Z,-4.248,0.0,0.0,-2.094,0.0,0.0,2.750,0.0,0.0,...,0.0,-4.239,0.0,0.0,-4.732,0.0,0.0,-4.449,0.0,0.0

In [77]:
df.set_index('utc_timestamp', inplace=True)
df.index.name = 'date'

# Remove 'Z' at the end of the dates
df.index = pd.to_datetime(df.index.str[:-1])

df = df.loc['2015':]

df_monthly = df.resample('M').mean()
df_monthly.index = df_monthly.index.to_period('M').to_timestamp()

# Keep only the columns that contain '_temperature' after the first two characters
df_temperature = df_monthly[df.columns[df.columns.str[2:] == '_temperature']]

df_monthly_reindexed = df_temperature.reindex(columns=df.columns[df.columns.str[2:] == '_temperature'])



df_monthly_reindexed.head()

,AT_temperature,BE_temperature,BG_temperature,CH_temperature,CZ_temperature,DE_temperature,DK_temperature,EE_temperature,ES_temperature,FI_temperature,...,LU_temperature,LV_temperature,NL_temperature,NO_temperature,PL_temperature,PT_temperature,RO_temperature,SE_temperature,SI_temperature,SK_temperature
date,,,,,,,,,,,,,,,,,,,,,
2015-01-01,-0.811476,2.251527,0.258144,-1.176280,-0.480534,1.000013,2.668392,-2.388370,7.407831,-5.930091,...,0.544708,-2.446809,3.109016,-2.788609,-0.316523,9.096121,-0.830858,-0.984980,0.805495,-1.243074
2015-02-01,-1.869132,2.051071,0.741122,-3.048363,-1.308914,-0.158522,1.605283,-1.774016,6.878667,-2.939423,...,-0.319153,-2.186598,2.723208,-2.078555,-0.915634,9.091234,-0.042417,-1.079277,-0.786350,-1.998243
2015-03-01,3.172863,5.430645,3.814645,3.849481,3.582897,4.697487,4.017472,1.261935,10.903762,-0.394427,...,4.661767,2.075376,5.606090,0.435363,3.966464,11.732728,4.347614,2.017962,4.434853,3.610965
2015-04-01,7.401744,8.680649,8.719247,7.553757,7.459043,8.089296,6.782629,4.172894,13.777415,3.175707,...,8.471999,5.061315,8.416314,3.044062,7.637729,14.505232,9.121911,5.345824,8.770486,7.725368
2015-05-01,12.552173,12.134363,16.477702,11.913712,12.579737,12.344438,9.893996,9.211315,18.348305,8.180274,...,12.067633,9.947147,11.823835,5.952544,12.805122,17.501277,16.492081,8.588519,14.260329,13.364574

In [78]:
# Dictionary mapping two-letter codes to European countries
country_mapping = {
    'AT': 'Austria',
    'BE': 'Belgium',
    'BG': 'Bulgaria',
    'CH': 'Switzerland',
    'CZ': 'Czech Republic',
    'DE': 'Germany',
    'DK': 'Denmark',
    'EE': 'Estonia',
    'ES': 'Spain',
    'FI': 'Finland',
    'FR': 'France',
    'GB': 'Great Britain',
    'GR': 'Greece',
    'HR': 'Croatia',
    'HU': 'Hungary',
    'IE': 'Ireland',
    'IT': 'Italy',
    'LT': 'Lithuania',
    'LU': 'Luxembourg',
    'LV': 'Latvia',
    'MT': 'Malta',
    'NL': 'Netherlands',
    'NO': 'Norway',  
    'PL': 'Poland',
    'PT': 'Portugal',
    'RO': 'Romania',
    'RU': 'Russia',
    'SE': 'Sweden',
    'SI': 'Slovenia',
    'SK': 'Slovakia',
    'UK': 'Great Britain',
    
    
}








# Iterate over columns and rename columns containing '_temperature'
for col in df_monthly_reindexed.columns:
    if '_temperature' in col:
        country_code = col[:2]
        country_name = country_mapping[country_code]
        new_col_name = country_name 
        df_monthly_reindexed.rename(columns={col: new_col_name}, inplace=True)

# Displaying the modified DataFrame
df_monthly_reindexed.head()

,Austria,Belgium,Bulgaria,Switzerland,Czech Republic,Germany,Denmark,Estonia,Spain,Finland,...,Luxembourg,Latvia,Netherlands,Norway,Poland,Portugal,Romania,Sweden,Slovenia,Slovakia
date,,,,,,,,,,,,,,,,,,,,,
2015-01-01,-0.811476,2.251527,0.258144,-1.176280,-0.480534,1.000013,2.668392,-2.388370,7.407831,-5.930091,...,0.544708,-2.446809,3.109016,-2.788609,-0.316523,9.096121,-0.830858,-0.984980,0.805495,-1.243074
2015-02-01,-1.869132,2.051071,0.741122,-3.048363,-1.308914,-0.158522,1.605283,-1.774016,6.878667,-2.939423,...,-0.319153,-2.186598,2.723208,-2.078555,-0.915634,9.091234,-0.042417,-1.079277,-0.786350,-1.998243
2015-03-01,3.172863,5.430645,3.814645,3.849481,3.582897,4.697487,4.017472,1.261935,10.903762,-0.394427,...,4.661767,2.075376,5.606090,0.435363,3.966464,11.732728,4.347614,2.017962,4.434853,3.610965
2015-04-01,7.401744,8.680649,8.719247,7.553757,7.459043,8.089296,6.782629,4.172894,13.777415,3.175707,...,8.471999,5.061315,8.416314,3.044062,7.637729,14.505232,9.121911,5.345824,8.770486,7.725368
2015-05-01,12.552173,12.134363,16.477702,11.913712,12.579737,12.344438,9.893996,9.211315,18.348305,8.180274,...,12.067633,9.947147,11.823835,5.952544,12.805122,17.501277,16.492081,8.588519,14.260329,13.364574

In [79]:
df_europe_temperature = df_monthly_reindexed.copy()

print(df_europe_temperature)

              Austria    Belgium   Bulgaria  Switzerland  Czech Republic  \
date
2015-01-01  -0.811476   2.251527   0.258144    -1.176280       -0.480534
2015-02-01  -1.869132   2.051071   0.741122    -3.048363       -1.308914
2015-03-01   3.172863   5.430645   3.814645     3.849481        3.582897
2015-04-01   7.401744   8.680649   8.719247     7.553757        7.459043
2015-05-01  12.552173  12.134363  16.477702    11.913712       12.579737
2015-06-01  16.911244  15.656911  18.572703    16.284660       16.863342
2015-07-01  21.039379  18.243516  23.918960    20.124702       21.520522
2015-08-01  20.723409  18.599251  23.669962    18.399460       22.573809
2015-09-01  13.035799  12.908044  19.765953    11.470611       14.108021
2015-10-01   7.500723   9.368270  11.042272     7.607362        7.797493
2015-11-01   5.459817   9.071417   8.509904     5.414974        5.136772
2015-12-01   2.726120   7.640620   3.051626     3.656694        2.768051
2016-01-01  -1.681473   3.568810  -1.538208    -0.174441       -2.301761
2016-02-01   1.761470   3.643888   6.182392     1.058793        2.025619
2016-03-01   2.648340   4.441571   6.377460     1.960376        2.956149
2016-04-01   7.993569   7.880853  13.198147     6.964415        7.641193
2016-05-01  11.984895  13.618247  14.357684    10.801649       13.303469
2016-06-01  16.793475  16.408787  21.016990    14.911772       17.952343
2016-07-01  19.144632  17.988374  23.797544    17.788833       19.597513
2016-08-01  17.417948  17.807988  22.964422    17.520210       17.947220
2016-09-01  15.943338  17.055325  18.702397    15.152417       17.051643
2016-10-01   7.079751   9.508430  10.621761     7.173258        7.321606
2016-11-01   2.405558   5.236781   5.838536     2.947667        2.077247
2016-12-01  -0.902503   2.917008  -1.281284     0.876392       -1.541415
2017-01-01  -6.553215  -0.459853  -6.091914    -5.264095       -6.971798
2017-02-01   0.530173   4.544787   1.974432     1.799324       -0.463192
2017-03-01   5.617849   8.147727   7.403515     6.237305        5.252845
2017-04-01   6.766061   8.038649   9.562675     6.545754        6.649563
2017-05-01  13.322102  14.545294  15.306816    12.475239       13.675888
2017-06-01  18.679800  18.383672  21.386965    17.658424       18.953738
2017-07-01  19.148579  18.458668  23.290571    17.889690       19.566191
2017-08-01  19.547878  17.866226  23.765485    18.399503       19.863632
2017-09-01  11.836029  13.979262  19.163826    11.483917       12.529803
2017-10-01   9.480532  12.543462  11.785190     9.844224        9.498147
2017-11-01   2.432453   6.174435   6.403947     2.028371        2.903106
2017-12-01  -1.373492   3.704422   2.685241    -1.716685       -0.522501
2018-01-01   0.614835   5.018199   1.246858     1.987708        0.696586
2018-02-01  -4.588426  -0.327411   1.227899    -3.552924       -3.851438
2018-03-01   0.549890   4.154898   4.969219     1.755145        0.220821
2018-04-01  11.743436  11.790486  13.909768    10.501832       12.212040
2018-05-01  15.038202  15.438867  17.379032    13.459461       16.080335
2018-06-01  17.401312  17.459556  20.377276    16.323167       18.425697
2018-07-01  19.319032  21.116337  21.677798    19.098238       20.803821
2018-08-01  20.449856  19.346476  23.116328    18.808167       22.117026
2018-09-01  14.995126  15.213101  18.604465    15.291658       15.714957
2018-10-01  10.316728  12.018585  13.275422     9.824168       10.318780
2018-11-01   3.988504   6.171154   5.865817     4.468581        3.787656
2018-12-01  -0.239591   4.853332   0.147617     1.186544        0.160425
2019-01-01  -3.433440   2.097378  -0.689711    -3.248668       -2.758356
2019-02-01   0.799528   5.006589   2.139126     1.434659        0.526143
2019-03-01   5.038843   7.717891   7.498987     4.292629        5.369679
2019-04-01   8.574092  10.075906  10.122678     7.179342        9.091844
2019-05-01   9.843788  11.781207  15.669672     9.049409       11.073378
2019-06-01  20.204475  18.254893  21.979772    18.098433       21.137539
2019-07-01  19.780368  19.618891  22.928368    19.017124       20.310262
2019-08-01  19.621224  19.309866  23.987413    18.172731       20.309866
2019-09-01  14.153083  15.263094  19.410128    13.779594       14.301813
2019-10-01  10.269957  11.554151  14.787657    10.602168        9.894042
2019-11-01   4.380297   5.734361  10.550426     3.086132        5.041156
2019-12-01   0.677887   4.901724   3.553761     1.315423        1.121445

              Germany    Denmark    Estonia      Spain    Finland  ...  \
date                                                               ...
2015-01-01   1.000013   2.668392  -2.388370   7.407831  -5.930091  ...
2015-02-01  -0.158522   1.605283  -1.774016   6.878667  -2.939423  ...
2015-03-01   4.697487   4.017472   1.261935  10.903762  -0.394427  ...
2015-04-01   8.089296   6.782629   4.172894  13.777415   3.175707  ...
2015-05-01  12.344438   9.893996   9.211315  18.348305   8.180274  ...
2015-06-01  16.102493  13.269269  13.446467  22.003340  12.091121  ...
2015-07-01  19.973409  16.010292  16.289707  26.144528  14.974566  ...
2015-08-01  20.382401  17.551122  17.858661  24.046245  16.166351  ...
2015-09-01  13.176499  13.721588  13.565047  19.691618  11.899671  ...
2015-10-01   8.223023   9.718257   6.134317  16.299663   4.619034  ...
2015-11-01   7.041956   7.347606   4.084515  12.826225   2.316429  ...
2015-12-01   5.711270   6.027215   2.320079  10.860441  -0.294362  ...
2016-01-01   0.462884  -0.070267  -7.729626   9.452277 -11.443069  ...
2016-02-01   2.536478   2.019964  -0.650101   9.073216  -3.408185  ...
2016-03-01   3.415516   3.299907  -1.091324   9.524767  -2.028581  ...
2016-04-01   7.620543   6.129132   4.430579  12.440028   3.486964  ...
2016-05-01  13.414224  12.658625  12.681066  15.754449  11.961274  ...
2016-06-01  17.100442  16.255071  15.390139  21.096493  14.124038  ...
2016-07-01  18.843211  17.058191  18.088524  24.672004  17.174491  ...
2016-08-01  18.135294  16.577309  16.691501  24.540931  15.001860  ...
2016-09-01  17.472596  16.511564  13.495542  21.811090  11.342360  ...
2016-10-01   8.380612   9.185739   4.603711  17.285360   3.335690  ...
2016-11-01   3.353296   4.333622  -0.914871  11.245900  -2.830353  ...
2016-12-01   1.253030   4.127571  -0.371905   9.572496  -3.272238  ...
2017-01-01  -3.229297   0.962520  -3.003801   6.702356  -5.087458  ...
2017-02-01   2.081438   1.427811  -3.829592   9.615330  -6.293345  ...
2017-03-01   6.628000   4.196094   0.225884  11.607245  -1.526690  ...
2017-04-01   7.292758   6.252911   2.290854  14.039896   0.678531  ...
2017-05-01  14.089667  11.867352   8.616016  18.118621   6.871805  ...
2017-06-01  18.192199  15.040246  13.355635  23.395792  12.364775  ...
2017-07-01  18.629138  16.036063  16.130848  24.215203  15.207531  ...
2017-08-01  18.258310  16.559281  16.962590  24.407566  14.835308  ...
2017-09-01  13.165631  13.892914  12.377953  20.249668  10.282811  ...
2017-10-01  10.971214  11.201785   5.767504  18.376452   3.858591  ...
2017-11-01   4.475417   5.964219   2.507740  11.545374   0.490885  ...
2017-12-01   1.606868   3.572950  -0.540417   7.987406  -2.331719  ...
2018-01-01   3.095663   2.207030  -3.147332   8.319734  -5.673522  ...
2018-02-01  -2.301082  -0.763125  -7.436393   6.756092 -10.648518  ...
2018-03-01   1.980559   0.182433  -4.159714   9.551108  -6.786890  ...
2018-04-01  11.885522   7.713704   4.647146  12.962899   2.772901  ...
2018-05-01  15.695773  14.421618  13.515254  15.921551  12.859344  ...
2018-06-01  17.967206  16.875942  15.264108  20.399957  13.631275  ...
2018-07-01  21.003870  19.703548  20.430761  23.865462  20.055000  ...
2018-08-01  20.693472  18.446758  18.938007  25.012293  16.931220  ...
2018-09-01  15.680211  14.860993  14.586931  22.358432  12.223004  ...
2018-10-01  11.089465  10.639856   7.527552  16.089421   5.393026  ...
2018-11-01   4.850019   6.046526   2.908840  11.390006   1.637165  ...
2018-12-01   3.090414   3.833534  -2.842981   9.885853  -5.049870  ...
2019-01-01  -0.059332   1.739169  -5.537616   7.244683  -9.300765  ...
2019-02-01   2.952649   3.535161  -1.356701   9.497095  -4.237933  ...
2019-03-01   6.248141   5.133897  -0.347909  11.634656  -2.632735  ...
2019-04-01   9.276793   7.799912   5.561411  12.532425   4.553351  ...
2019-05-01  11.201609  10.411723  10.113661  16.870992   8.781179  ...
2019-06-01  20.029033  16.724597  17.072736  20.902064  15.580206  ...
2019-07-01  19.873538  17.427589  17.051762  24.868687  16.011767  ...
2019-08-01  19.977864  18.114164  17.264762  24.543851  15.486198  ...
2019-09-01  14.660031  14.088632  12.835667  20.894281  10.400317  ...
2019-10-01  10.827679   9.966965   7.167310  17.185710   3.558704  ...
2019-11-01   4.684019   6.010735   2.231725  10.920696  -1.155274  ...
2019-12-01   3.003160   4.554629   1.519780  10.167199  -1.443481  ...

            Luxembourg     Latvia  Netherlands     Norway     Poland  \
date
2015-01-01    0.544708  -2.446809     3.109016  -2.788609  -0.316523
2015-02-01   -0.319153  -2.186598     2.723208  -2.078555  -0.915634
2015-03-01    4.661767   2.075376     5.606090   0.435363   3.966464
2015-04-01    8.471999   5.061315     8.416314   3.044062   7.637729
2015-05-01   12.067633   9.947147    11.823835   5.952544  12.805122
2015-06-01   16.115172  14.164181    15.286278   9.953728  16.769856
2015-07-01   20.259198  16.227492    18.103337  12.790255  20.273552
2015-08-01   19.944274  17.774286    18.508672  14.075407  22.738476
2015-09-01   12.519192  13.192894    13.609628  10.435056  15.318821
2015-10-01    8.080137   5.293969     9.899930   5.548651   7.323028
2015-11-01    6.937260   3.864785     9.415240   1.786147   4.842014
2015-12-01    5.586511   2.028030     8.183801   0.271157   2.942023
2016-01-01    1.519636  -7.151253     3.924181  -7.118555  -4.000810
2016-02-01    2.627135  -0.117761     3.889223  -3.119417   1.992223
2016-03-01    3.051710   0.098507     4.706536   0.075625   3.023778
2016-04-01    7.136299   5.294324     8.075858   2.803243   8.348713
2016-05-01   12.603003  13.476431    13.753820   9.023019  14.680101
2016-06-01   16.051492  16.124022    16.548031  12.973417  18.825212
2016-07-01   17.984888  18.206719    18.166934  14.203837  19.701626
2016-08-01   17.867669  16.581789    17.940375  12.837684  18.377199
2016-09-01   16.999092  13.543860    17.751329  12.459286  16.473710
2016-10-01    8.347602   4.334515    10.111065   4.244804   7.011101
2016-11-01    3.886287  -0.386312     5.493856  -1.289737   2.251971
2016-12-01    0.656825  -0.090375     4.171782   0.260913  -0.572597
2017-01-01   -3.234187  -4.039761     0.738122  -2.191409  -5.668577
2017-02-01    3.110315  -4.239823     3.958753  -3.111786  -1.921917
2017-03-01    6.996347   1.091734     7.734320  -0.470991   4.776692
2017-04-01    7.405087   3.392557     8.226122   2.195976   6.588994
2017-05-01   14.323573  10.234461    14.231633   8.190968  13.357551
2017-06-01   19.004083  14.162029    17.810328  11.640162  17.775544
2017-07-01   19.616677  16.186453    18.086380  13.476792  18.724796
2017-08-01   18.268677  16.875017    17.798477  12.512952  19.647387
2017-09-01   13.038192  12.664099    14.368538  10.292376  13.469385
2017-10-01   10.541945   6.184241    12.992566   5.177363   9.390621
2017-11-01    4.254722   2.602301     7.108281  -0.162937   3.523768
2017-12-01    1.794147  -0.549474     4.419794  -2.882399   0.568566
2018-01-01    4.108625  -3.174528     4.777368  -4.633208  -0.398157
2018-02-01   -2.070504  -8.151198     0.104545  -6.509164  -3.996996
2018-03-01    2.729927  -3.284569     3.681362  -5.197851  -0.383556
2018-04-01   11.349885   6.781993    11.339392   2.577342  11.918240
2018-05-01   14.940720  14.718043    15.572606  12.000457  16.442973
2018-06-01   17.523107  15.772200    17.104219  12.918615  18.594989
2018-07-01   21.748187  19.840727    20.218032  17.511345  20.631387
2018-08-01   20.451194  18.786358    19.134378  13.283927  21.295207
2018-09-01   15.611897  14.530785    15.433832   9.985193  16.098004
2018-10-01   10.954383   7.659196    12.393671   5.054372  10.213070
2018-11-01    5.105439   2.119185     6.257946   1.935024   3.713758
2018-12-01    3.084866  -3.176253     5.528270  -2.959411   0.030063
2019-01-01    0.022298  -5.892297     2.983325  -4.556746  -3.108160
2019-02-01    2.519042  -0.993533     5.313695  -1.773760   1.005432
2019-03-01    6.215450   1.366567     7.577434  -1.178554   4.918570
2019-04-01    8.739287   6.763958    10.103271   5.032581   9.222950
2019-05-01   10.876733  11.559204    11.781489   7.126802  12.367513
2019-06-01   18.891449  18.730179    18.217294  12.540224  21.776193
2019-07-01   20.693605  16.694504    19.062598  14.793714  19.543707
2019-08-01   19.920781  17.354215    19.315419  14.305282  20.863591
2019-09-01   14.844840  12.522519    15.383518   9.292304  14.793939
2019-10-01   10.603339   8.203777    11.677831   3.611395  10.468539
2019-11-01    4.306672   3.275938     6.214840  -1.767874   5.595744
2019-12-01    3.269952   1.415614     5.260647  -1.441286   1.718575

             Portugal    Romania     Sweden   Slovenia   Slovakia
date
2015-01-01   9.096121  -0.830858  -0.984980   0.805495  -1.243074
2015-02-01   9.091234  -0.042417  -1.079277  -0.786350  -1.998243
2015-03-01  11.732728   4.347614   2.017962   4.434853   3.610965
2015-04-01  14.505232   9.121911   5.345824   8.770486   7.725368
2015-05-01  17.501277  16.492081   8.588519  14.260329  13.364574
2015-06-01  20.646621  20.275619  12.736240  18.130882  17.877703
2015-07-01  21.756301  24.364327  15.634593  22.403160  21.921841
2015-08-01  20.986669  24.021593  16.537085  21.451872  22.719036
2015-09-01  18.789989  19.149619  12.318865  14.954386  15.336137
2015-10-01  16.741204   9.775941   6.959632   8.895734   8.103125
2015-11-01  13.890792   6.485135   4.000888   6.116490   4.559501
2015-12-01  12.279540   1.726483   2.203774   2.883116   0.824895
2016-01-01  11.583788  -3.285562  -5.940290  -0.209734  -3.810700
2016-02-01  10.526621   4.374092  -1.294605   3.217239   2.170244
2016-03-01  10.560406   5.535317   1.486009   4.326845   3.688796
2016-04-01  12.684824  12.827803   4.707168   9.477017   9.355682
2016-05-01  15.151629  14.752292  11.455602  13.149566  13.826394
2016-06-01  18.876944  20.816311  15.178463  17.795890  18.656819
2016-07-01  22.292794  23.073867  17.213255  21.045501  20.276565
2016-08-01  22.556399  22.390372  15.464391  18.962445  18.430362
2016-09-01  20.361046  18.672946  14.313786  17.120897  16.847304
2016-10-01  17.104722   8.480702   6.231233   8.602511   7.028526
2016-11-01  12.634086   3.578876   0.755651   4.801029   1.925081
2016-12-01  11.013845  -2.259527   0.632179  -0.207207  -2.919985
2017-01-01   9.095308  -6.524831  -2.032773  -5.315278  -8.183316
2017-02-01  11.099249   0.316106  -1.799287   1.966979  -0.319964
2017-03-01  12.174808   7.121840   1.430120   7.226652   5.450647
2017-04-01  15.230825   9.153719   3.868590   9.392269   7.536917
2017-05-01  17.615133  15.463343  10.059879  14.575609  14.198226
2017-06-01  20.720497  21.187969  14.245954  20.048592  19.348869
2017-07-01  21.256867  22.590277  15.990285  21.446141  20.042612
2017-08-01  21.433919  23.882246  15.612906  22.143899  21.172915
2017-09-01  18.835750  17.695572  12.045464  13.289379  13.643858
2017-10-01  18.960980  10.972630   7.346714  10.540125   9.037219
2017-11-01  13.203344   5.160965   2.217425   4.369914   2.786132
2017-12-01  10.493276   1.219501  -0.398000   0.434742  -1.131728
2018-01-01  10.131313  -0.431468  -2.027653   2.450488  -0.211250
2018-02-01   9.232914  -0.997726  -5.018065  -3.887496  -4.007810
2018-03-01  10.800720   2.089171  -3.077431   1.546851   0.237853
2018-04-01  12.993643  14.092379   5.299092  12.344675  12.759989
2018-05-01  15.430003  18.059944  14.015431  16.085397  16.712202
2018-06-01  18.240394  20.893029  15.989518  18.621236  18.635710
2018-07-01  20.132040  21.425907  20.776870  20.621578  20.266949
2018-08-01  22.867586  23.601849  17.486402  21.511703  21.817386
2018-09-01  21.936101  18.104069  13.202153  16.504583  15.856135
2018-10-01  17.018242  12.851308   7.712620  11.851035  10.969801
2018-11-01  12.758304   4.300849   3.249378   5.637871   4.548667
2018-12-01  11.412636  -1.741363  -0.927777   0.864504  -1.976286
2019-01-01   9.407003  -2.898241  -3.724547  -1.622691  -4.702649
2019-02-01  11.027869   1.350141  -0.222634   3.029900   0.374622
2019-03-01  12.695362   6.726987   1.409622   6.409129   5.245833
2019-04-01  13.243303  10.182174   6.237511   9.628158   9.857640
2019-05-01  17.228727  15.546163   9.508258  11.204663  11.850097
2019-06-01  17.656883  22.308264  16.543122  21.023010  21.204176
2019-07-01  20.971906  22.264700  17.027573  21.227571  20.034277
2019-08-01  20.961129  24.000284  17.120513  21.162483  21.272991
2019-09-01  20.246051  18.724582  12.155246  15.875110  15.009067
2019-10-01  16.721347  13.182922   6.333653  11.772754  10.340043
2019-11-01  13.276965   8.876628   2.190782   6.829840   6.218018
2019-12-01  11.521383   2.577121   1.020194   2.423862   0.385571

[60 rows x 28 columns]